#!/usr/bin/env bash
# Aliases
# vim: syntax=sh

alias vi='nvim'
alias vim='nvim'

# Misc
alias ri='ri -f ansi'

# Some aliases to avoid making mistakes
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'

# always color grep
alias grep='grep --color=auto'

# shortcuts
alias c='clear'
alias q='exit'
alias h='history'

# Time
alias now='date +"%T"'
alias nowtime='now'
alias nowdate='date +"%d-%m-%Y"'

alias ls='ls -G'
alias ll='ls -lah'

# Reload the shell (i.e. invoke as a login shell)
alias reload='exec $SHELL -l'
