[user]
name = Maxime Loliée
email = maxime@siliadev.com

[color]
ui = true
branch = auto
diff = auto
interactive = auto
status = auto

[core]
editor = vim
excludesfile = ~/.gitignore-global
whitespace = space-before-tab,-indent-with-non-tab,trailing-space

# Make `git rebase` safer on OS X
# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
trustctime = false

# Prevent showing files whose names contain non-ASCII symbols as unversioned.
# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
precomposeunicode = false

[apply]
whitespace = fix

[merge]
tool = vimdiff

[rebase]
autosquash = true

[fetch]
prune = true

[push]
default = matching

[commit]
template = ~/.gitmessage

[alias]
a = add -p
d = co -p
c = clone --recursive
bm = branch -m
cm = commit -m
ca = commit --amend
cs = commit --squash
cf = commit --fixup
st = status -bs
co = checkout
dfm = diff master...
po = push origin
pof = push --force origin
pod = push --delete origin
sa = submodule add
si = submodule init --recursive
sr = submodule dinit
su = submodule foreach git pull
r = reset
rh = reset --hard
ri = rebase -i
rc = rebase --continue
ra = rebase --abort
ru = remote update
rso = remote set-url origin
mc = merge --continue
ma = merge --abort
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

# Show verbose output about tags, branches or remotes
tags = tag -l
branches = branch -a
remotes = remote -v
