.aliases.local
.config/fish/conf.d/*local.fish
.config/fish/functions_local
.config/fish/vendor
.config/github-copilot
.config/k9s/config.yml
.config/nvim/pack
.config/op/
.config/helm/
.config/kube/
.config/openstack
.config/pandoo
.sshrc.d/patatetoy.sh
.sshrc.d/patatetoy_common.sh
.vim/.netrwhist
.vim/autoload
.vim/plugged
.vim/undofiles
venv